table {
  z-index: 1;
}

#query_btn, #btn_container {
  border: none;
  color: white;
  background-color: #53a9dd;
}

.mtn_design {
  border-left: 800px solid transparent;
  border-right: 800px solid transparent;
  border-bottom: 800px solid #214358; 
  width: 0px;
  height: 0px;
  z-index: -1;
  position: fixed;
  top: 220px;
  right: -600px;
}

.sun_design {
  border-style: solid;
  border-color: #ffe500;
  background-color: #ffa200;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  z-index: -2;
  position: fixed;
  right: 5%;
  top: 1%;
}
